Source: ros-humble-vision-msgs-layers
Section: misc
Priority: optional
Maintainer: ijnek <kenjibrameld@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-humble-ament-cmake-ros, ros-humble-ament-lint-auto <!nocheck>, ros-humble-ament-lint-common <!nocheck>, ros-humble-rqt-image-overlay-layer, ros-humble-vision-msgs, ros-humble-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-humble-vision-msgs-layers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-humble-rqt-image-overlay-layer, ros-humble-vision-msgs, ros-humble-ros-workspace
Description: Collection of RQt Image Overlay Plugins for Vision Msgs
